body{margin: 2 auto;
    max-width: 80%;
}

div.greenkassi{border: green 3px solid; 
    max-width: 100%;
    margin: 1 auto;
    padding: 0;
}

div.redkassi{
border: red 5px solid;
    max-width: 100%;
    margin: 1 auto;
    padding: 9%;
}

.red{
color: red;}

div.redkassi2{
border: red 5px solid;
    max-width: 100%;
    margin: 1 auto;
    padding: 9%;
}

div.bluekassi{border: blue 5px dashed; 
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    color: blue;
}


.block{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2.5em;
    margin: 0;
    
    
}
.block2{
    padding: 1em;
    margin: 1em;
    border: 3px dashed green;
}

.inline li{
    display:inline;
    padding: 1em;
    margin: 1em;
    border: 3px dashed blue;
    color: red;
    
}

.inline-block li{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed red;
}





.gray{
background-color: lightgray;
text-align: right;}

body{max-width: 960px;
}

.fela{
    display: none;}

img{
    float: right;}

.fl{
    display: inline;}


div.efri{border: green 2px solid; max-width: 960px;}

div.neðri{border: black 1px solid; width: 100%; clear:both}

.v23{max-width: 960px; margin: 0 auto;
}

.box{padding: 10px; width: 50%;
    float: left;
    border: 1px black solid;}

*{box-sizing: border-box;}

.stórt-L{ font-size: 4em;
    float: left;}
    
h2.athugid{ background-color: yellow; text-align: center; 
}


h1.header{
     color: black;
    text-align: center;
    font-size: 400%;
}

.SvarturKassiArticle{
    border: solid black 1px; padding: 12px; 
    text-align: center;
}
.SvarturKassiVerkefni2-5{
border: 1px black solid;
padding: 10px;
}

.footer{
    text-align: center;
    word-spacing: 10px;
}


